<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Gestión de Reseñas</title>
    <link rel="stylesheet" href="home.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <div class="dashboard-container">
        <header class="navbar">
            <div class="logo">
                <i class="fa-solid fa-utensils"></i>
                <span>Reseñas de Restaurantes</span>
            </div>
            <div class="user-actions">
                <i class="fa-regular fa-bell"></i>
                <button (click)="logout()">Cerrar Sesión</button>
            </div>
        </header>

        <main class="main-content">
            <h1 class="panel-title">Panel de Gestión de Reseñas</h1>

            <div class="toolbar">
                <div class="search-input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Buscar restaurante...">
                </div>
                <button class="filter-button"><i class="fa-solid fa-sliders"></i></button>
                <button class="create-review-button" (click)="habilitar()">
                    <i class="fa-solid fa-plus"></i> Crear Nueva Reseña
                </button>
            </div>

            <div class="reviews-table-wrapper">
                <table class="reviews-table">
                    <thead>
                        <tr>
                            <th>Restaurante</th>
                            <th>Calificacion</th>
                            <th>Reseña</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rese of resenias.resenias">
                            <td>{{rese.nombreRestaurante}}</td>
                            <td>{{rese.calificacion}}</td>
                            <td>{{rese.resenia}}</td>
                            <td>{{rese.fecha}}</td>
                            <td>
                            <button class="action-edit"><i class="fa-solid fa-pencil" (click)="abrirResenia(rese)"></i></button>
                            <button class="action-delete" (click)="abrirEliminar(rese._id)"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                <a href="#" class="page-link page-arrow"><i class="fa-solid fa-angle-left"></i></a>
                <a href="#" class="page-link active">1</a>
                <a href="#" class="page-link">2</a>
                <a href="#" class="page-link">3</a>
                <span class="ellipsis">...</span>
                <a href="#" class="page-link">10</a>
                <a href="#" class="page-link page-arrow"><i class="fa-solid fa-angle-right"></i></a>
            </div>

        </main>


        <section [class.overlay]="eliminar === true" class="seccion-eliminar">
            <div class="container-eliminar">
                <h5>¿Deseas eliminar esta reseña?</h5>
                <div>
                    <button (click)="eliminarResenia()">Eliminar</button>
                    <button>Cancelar</button>
                </div>
            </div>
        </section>

        <section [class.overlay]="crear === true" class="seccion-actualizar">
            <div class="container-actualizar">
                <div class="cerrar-crear">
                    <button (click)="cerrarCrear()"><i class="bi bi-x-circle-fill"></i></button>
                </div>
                <form action=""  (ngSubmit)="crearResenia()">
                    <h2>Crea una Reseña</h2>
                    <div class="entrada">
                        <label for="">Nombre del Restaurante</label>
                        <input type="text" [(ngModel)]="resenia.nombreRestaurante" name="nombre restaurante">
                    </div>
                    <div class="entrada">
                        <label for="">Calificación</label>
                        <select name="calificacion" id=""  [(ngModel)]="resenia.calificacion" >
                            <option value="0">calificación</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="entrada">
                        <label for="">Reseña</label>
                        <textarea name="resenia" id="" [(ngModel)]="resenia.resenia"></textarea>
                    </div>
                     <div class="alert alert-danger" *ngIf="errorMensaje">
                        {{ errorMensaje }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
                        {{ isLoading ? 'Creando Reseña...' : 'Crear Reseña' }}
                    </button>
                </form>
            </div>
        </section>

        <section [class.overlay]="actualizar === true" class="seccion-actualizar">
            <div class="container-actualizar">
                <div class="cerrar-crear">
                    <button (click)="cerrarCrear()"><i class="bi bi-x-circle-fill"></i></button>
                </div>
                <form action=""  (ngSubmit)="actualizarResenia()">
                    <h2>Crea una Reseña</h2>
                    <div class="entrada">
                        <label for="">Nombre del Restaurante</label>
                        <input type="text" [(ngModel)]="resenia.nombreRestaurante" name="nombre restaurante">
                    </div>
                    <div class="entrada">
                        <label for="">Calificación</label>
                        <select name="calificacion" id=""  [(ngModel)]="resenia.calificacion" >
                            <option value="0">calificación</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="entrada">
                        <label for="">Reseña</label>
                        <textarea name="resenia" id="" [(ngModel)]="resenia.resenia"></textarea>
                    </div>
                     <div class="alert alert-danger" *ngIf="errorMensaje">
                        {{ errorMensaje }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
                        {{ isLoading ? 'Actualizando Reseña...' : 'Actualizar' }}
                    </button>
                </form>
            </div>
        </section>
    </div>



</body>
</html>