<div class="container-fluid contenedor-principal">
    
    <form action="" class="formulario">
        <div class="container-head">
            <div class="container-img">
                <h3>
                    <i class="bi bi-fork-knife"></i>
                    GourmetGuide
                </h3>
            </div>
            <h1>Bievenido de Nuevo</h1>
            <p>Inicia sesión en tu cuenta para continuar</p>
        </div>
        <div class="entrada">
            <label for="">Usuario</label>
            <input type="text" placeholder="Usuario">
        </div>
        <div class="entrada">
            <label for="">Contraseña</label>
            <input type="text" placeholder="Contraseña">
        </div>
        <div class="container-boton">
            <button>Iniciar Sesión</button>
        </div>
    </form>
   
</div>